@charset "UTF-8";

/* Nami Codes */

/*Base stats*/
.status {margin:25px auto;width:170px;border:1px solid #09625d;outline:20px solid #060606c9;padding:20px;background:#060606; }
.status.tema {display:block; padding:20px;outline-color: #111111; background-color: #111111;}
.status.ks {border-color: #ae70eb;}
.status .tit {font-size:14px;font-family:raleway;text-align:center;color:#fff}
.status .sub {font-size: 13px;color: #fff;text-align: center;}
.status .stats {width: 166px;margin: 7px auto 0 auto;text-align: left;font-size: 9px;letter-spacing: 1.5px;color:#c3c3c3;}
.status .stat {width: 81px;display: inline-block;word-spacing: -2px;}
.status .stats i {font-size: 9px;font-style: normal;color: white;}
.status .stats span {color:#394341;font-size: 12px;margin: 0 0 0 2px;}
.status .stats span + span {color: grey !important; margin: 0;}
.status.ks .stats span {color: #ae70eb;}
.status .stats span:first-child {display: inline-block;}

/*Stats versus mini*/
.status.tema.vs {width: 400px; }
.status.tema.vs .pj, .status.tema.vs .monst {width: 170px !important; display: inline-block;} 
.status.vs .monst {margin: -15px auto auto 60px; vertical-align: top; width: 170px;} 
.status.vs .monst:before { content: 'vs'; position: relative; left: -44px; top: 75px; font-family: raleway; letter-spacing: 3px; font-size: 19px; font-style: italic; }
.vs .monst .stat {width: auto; min-width: 70px; max-width: 82px;}
.status.tema.vs .extra {margin:0px; color:#de6e6e; cursor: pointer;} .status.tema.vs .df222 .extra {font-size:8px;}
.status .df222 {width: 142px; background: black; height: auto;margin: 8px auto auto 0px;}
.tema.vs .desg { margin-top: -133px; background: #111111; position: relative; height: 133px; columns: 100px 2; overflow: auto; opacity: 0; -webkit-transition: all .9s ease; transition: all .9s ease; -moz-transition: all .9s ease; -o-transition: all .9s ease;} 
.status.vs strong {color: grey;}
.status.tema.vs.bs .extra {margin:0px; color:#de6e6e; cursor: pointer;} .status.tema.vs.bs .df222 .extra {font-size:8px;}

/*Stats grande*/
.atrib {margin:auto;} 
.atrib .icon {width:100px;height:100px;background-size:100px;float: left;border-radius:100%;border:3px solid #394341; margin-right: 5px;} 
.atrib .fichita {margin-top: 8px;} 
.atrib .fichita .tit {font-size:14px;font-family:raleway;text-align:center;text-transform: uppercase;color:#fff} 
.atrib .fichita .subtit {font-size: 12px;color: #fff;text-align: center;letter-spacing: 1px;} .atrib .fichita .stats {margin: 8px auto 0 auto;letter-spacing: 2px; text-align: left;} .atrib .fichita .stat {width: 85px;display: inline-block;} 
.atrib .fichita .stats u { text-decoration: none; padding: 0 4px 1px; margin: 1px 0; display: inline-block; font-weight: normal; font-size: 9px; letter-spacing: 1px; } 
.atrib .fichita .stats span {color:#394341;font-size: 13px;} 
.atrib .inv {width: auto; display: flex; flex-wrap: wrap; height: auto; max-height: 84px; margin: 20px auto auto; overflow: auto;}
.atrib .df222 {height: 8px;margin: 0 0 2px 0;flex: 1 0 auto;}

/*Stats versus grande*/
.versus { width: auto; margin: auto; padding: 30px; outline-offset: -15px; }
.versus .pj, .versus .bicho { width: 180px; display: inline-block; margin: auto; } 
.versus .bicho { margin: -15px auto auto 68px; width: 155px; vertical-align: top; } 
.versus .bicho:before { content: 'VS'; position: relative; left: -55px; top: 155px; font-family: raleway; letter-spacing: 3px; font-size: 20px; font-style: italic; } 
.versus .icon { float: none; margin: auto; background-size:100px; width: 100px; height: 100px; border-radius: 100%; border: 3px solid #394341; } 
.versus .tit { margin-top: 10px; font-size: 12px; font-family: raleway; text-align: center; text-transform: uppercase; color: #fff; } 
.versus .subtit { font-size: 11px; color: #fff; text-align: center; letter-spacing: 1px; } 
.versus .stats { font-size: 9px; text-align: left; width: 150px; margin: 7px auto 0 auto; color: grey; } 
.versus .bicho .stats { width: 140px; } 
.versus .stats u { font-size: 8px; text-decoration: none; padding: 0; margin: 0px; display: inline; font-weight: normal; color: white; letter-spacing: 0.5px;} 
.versus span {font-size: 12px; color: #394341;} 
.versus .pv { width: 120px; } 
.versus .stat { width: 70px; display: inline-block; } 
.versus .stat span { margin-bottom: 5px; color: #394341; } 
.result { width: 150px; margin: 15px auto auto auto; display: flex; flex-wrap: wrap; } 
.result .df222 { width: calc(35%); flex: 1; margin: 1px 0; } .bicho .result .df222:first-child { flex: 0 0 calc(100% - 25px); }
.versus .desg { margin-top: -302px; background: #111111; position: relative; height: 294px; padding-top:10px; columns: 100px 2; overflow: auto; opacity: 0; -webkit-transition: all .9s ease; transition: all .9s ease; -moz-transition: all .9s ease; -o-transition: all .9s ease;} 
.versus .desg .tit {margin-top: 0;}

/* Baules */
.bf1.devel, .bf1.crono, .bf1.relas {font-family: calibri;}
.dfxx {background:none;margin: 7px 0 0;line-height: 13px;}
.devel .df222 {margin: auto;width: 112px;vertical-align: top;padding: 7px;font-size: 8px;letter-spacing: 0.5px;}
.crono .bfhd, .relas .bfhd {margin-right: 2px;}


/* Sephiroth Codes */

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://bangeluz.github.io/avam-project/styles.css);

.barra-v3 {
    background: #111;
    border: 1px solid #394341;
    color: #e8e8e8;
    font: 11px Arial;
    outline: #111 solid 20px;
    padding: 25px 0 25px 25px;
    width: 370px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.barra-v3 .img {
    width: 130px;
    height: 150px;
    background: url(https://image.ibb.co/nRi6dx/rich_stats_2.png) center/cover;
    outline: #394341 solid 1px;
    outline-offset: 5px;
    margin: 5px;
    display: inline-block;
    -webkit-transition: .5s ease;
    transition: .5s ease
}

.barra-v3 .datos {
    margin: 0 10px;
    text-transform: uppercase
}

.barra-v3 .datos .perfils {
    -webkit-transition: 1s ease;
    transition: 1s ease
}

.barra-v3 .datos .perfils .nombre {
    font: 700 18px Raleway;
    border-bottom: 1px solid #394341;
    letter-spacing: -1px
}

.barra-v3 .datos .perfils .especialidad,
.barra-v3 .datos .perfils .vs {
    font: 10px Roboto;
    letter-spacing: 1px;
    padding: 2px 0
}

.barra-v3 .datos .perfils .especialidad {
    color: #777
}

.barra-v3 .datos .perfils .vs::before {
    content: "VS:";
    background: #394341;
    margin-right: 2px;
    padding: 0 1px 0 3px
}

.barra-v3 .datos .estado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #e8e8e8;
    -webkit-transition: .8s ease;
    transition: .8s ease
}

.barra-v3 .datos .estado span {
    margin: 5px 0 3px;
    letter-spacing: 1px;
    font-size: 9px;
    display: block;
    border-bottom: 1px solid #394341
}

.barra-v3 .datos .estado o {
    color: #333
}

.barra-v3 .stats {
    width: 99%;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 14px auto 0
}

.barra-v3 .stats [class^=icon] {
    font: 12px Roboto;
    position: relative;
    -webkit-transition: .5s ease;
    transition: .5s ease
}

.barra-v3 .stats [class^=icon]:nth-child(1) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.barra-v3 .stats [class^=icon]:nth-child(2) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.barra-v3 .stats [class^=icon]:nth-child(3) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

.barra-v3 .stats [class^=icon]:nth-child(4) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

.barra-v3 .stats [class^=icon]:nth-child(5) {
    -webkit-transition-delay: .6s;
    transition-delay: .6s
}

.barra-v3 .stats [class^=icon]:nth-child(6) {
    -webkit-transition-delay: .7s;
    transition-delay: .7s
}

.barra-v3 .stats [class^=icon]::before {
    font-size: 18px;
    color: #999;
    right: 4px;
    top: 5px;
    position: relative;
    -webkit-box-shadow: 0 0 0 1.1px #394341;
    box-shadow: 0 0 0 1.1px #394341;
    border-radius: 50%;
    padding: 7px
}

.barra-v3 .stats .atk::after {
    color: #32cd32;
    content: "♦first";
    position: absolute;
    right: 0;
    bottom: -7px;
    font-size: 8px
}

.barra-v3 .stats .atk::before {
    -webkit-box-shadow: 0 0 0 1.1px #32cd32;
    box-shadow: 0 0 0 1.1px #32cd32
}

.barra-v3 .stats .buff {
    color: #87ceeb
}

.barra-v3 .stats .buff::after {
    content: "+up";
    position: absolute;
    right: 0;
    bottom: -7px;
    font-size: 8px
}

.barra-v3 .stats .buff::before {
    -webkit-box-shadow: 0 0 0 1.1px #87ceeb;
    box-shadow: 0 0 0 1.1px #87ceeb
}

.barra-v3 .stats .debuff {
    color: #dc143c
}

.barra-v3 .stats .debuff::after {
    content: "-down";
    position: absolute;
    right: 0;
    bottom: -7px;
    font-size: 8px
}

.barra-v3 .stats .debuff::before {
    -webkit-box-shadow: 0 0 0 1.1px #dc143c;
    box-shadow: 0 0 0 1.1px #dc143c
}

.barra-v3 .stats .alt {
    color: #792DEB
}

.barra-v3 .stats .alt::after {
    content: "⨯effect";
    position: absolute;
    right: 0;
    bottom: -7px;
    font-size: 8px
}

.barra-v3 .stats .alt::before {
    -webkit-box-shadow: 0 0 0 1.1px #792DEB;
    box-shadow: 0 0 0 1.1px #792DEB
}

.barra-v3 .stats .con,
.barra-v3 .stats .con-1d,
.barra-v3 .stats .con-2d {
    color: #daa520
}

.barra-v3 .stats .con-1d::after,
.barra-v3 .stats .con-2d::after,
.barra-v3 .stats .con::after {
    position: absolute;
    right: 0;
    bottom: -14px;
    font-size: 18px
}

.barra-v3 .stats .con-1d::before,
.barra-v3 .stats .con-2d::before,
.barra-v3 .stats .con::before {
    -webkit-box-shadow: 0 0 0 1.1px #daa520;
    box-shadow: 0 0 0 1.1px #daa520
}

.barra-v3 .stats .con::after {
    content: "▪▪";
    background: -webkit-gradient(linear, left top, right top, color-stop(49%, #444), color-stop(50%, #daa520));
    background: linear-gradient(left, #444 49%, #daa520 50%);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.barra-v3 .stats .con-1d::after,
.barra-v3 .stats .con-2d::after {
    content: "▪▪▪";
    -webkit-text-fill-color: transparent
}

.barra-v3 .stats .con-2d::after {
    background: -webkit-gradient(linear, left top, right top, color-stop(33%, #444), color-stop(33%, #daa520));
    background: linear-gradient(left, #444 33%, #daa520 33%);
    background-size: 100% 100%;
    -webkit-background-clip: text
}

.barra-v3 .stats .con-1d::after {
    background: -webkit-gradient(linear, left top, right top, color-stop(66%, #444), color-stop(66%, #daa520));
    background: linear-gradient(left, #444 66%, #daa520 66%);
    background-size: 100% 100%;
    -webkit-background-clip: text
}

.barra-v3 .comentario {
    line-height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    background: #111;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
    text-align: justify;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    -webkit-transition: .4s ease;
    transition: .4s ease
}

@-webkit-keyframes avam-color {
    0%,
    100% {
        background-position: 97% 0
    }
    50% {
        background-position: 4% 100%
    }
}

@keyframes avam-color {
    0%,
    100% {
        background-position: 97% 0
    }
    50% {
        background-position: 4% 100%
    }
}

.barra-v3:hover .comentario {
    opacity: 1;
    -webkit-transition: .5s 1s ease;
    transition: .5s 1s ease
}

.barra-v3:hover [class^=icon] {
    -webkit-transition: .5s 1s ease;
    transition: .5s 1s ease;
    -webkit-transform: translateY(100px);
    transform: translateY(100px)
}

.barra-v3:hover .img {
    -webkit-transition: .8s .3s ease;
    transition: .8s .3s ease;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px)
}

.barra-v3:hover .datos .perfils {
    -webkit-transition: .8s .4s ease;
    transition: .8s .4s ease;
    -webkit-transform: translateX(300px);
    transform: translateX(300px)
}

.barra-v3:hover .datos .estado {
    -webkit-transition: .8s .5s ease;
    transition: .8s .5s ease;
    -webkit-transform: translateX(300px);
    transform: translateX(300px)
}

.barra-v3 [color=blue] {
    background: linear-gradient(240deg, #050578, #00f, #000063);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: avam-color 6s ease infinite;
    animation: avam-color 6s ease infinite
}

.barra-v3 [color=goldenrod] {
    background: linear-gradient(240deg, #B8860B, gold, #B8860B);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: avam-color 6s ease infinite;
    animation: avam-color 6s ease infinite
}

.barra-v3 [color=limegreen] {
    background: linear-gradient(240deg, green, #32cd32, #056b05);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: avam-color 6s ease infinite;
    animation: avam-color 6s ease infinite
}

.barra-v3 br {
    display: none
}

.barra-v3 .comentario br {
    display: block
}
