.author-52 .postprofile a strong:after {
    content: 'Beathan';
    background: #000000;
    position: relative;
    left: -102px;
}
.author-52 .postprofile-avatar img {
    content: url(https://i.imgur.com/SFLF7HN.png);
}
.author-52 .author a span strong::after{
    content: 'Beathan';
    position: relative;
    left: -54px;
    background: #000000;
    margin-left: -43px;
}
.author-52 .topictitle-image img {
    content: url(http://sig.grumpybumpers.com/host/beaticon.gif);
}
.author-52 .postprofile-field.postprofile-field-edad .postprofile-field-content { 
    visibility: hidden;
} 
.author-52 .postprofile-rank:after { 
    content: 'drama boy';
    position: relative;
    background: #0a0a0a;
    width: 150px;
    left: 49px;
    display: inline-block;
    text-align: left;
} 
.author-52 .postprofile-field.postprofile-field-edad .postprofile-field-content:after { 
    content: '17 años'; 
    visibility: visible; 
    position: relative; 
    left: -19px; 
}

.trav-sig.beat .trav-img { 
    background: url(http://sig.grumpybumpers.com/host/beathan.gif); 
    box-shadow: 0 0 0 3px #141414, 0 0 0 5px #5a769a; 
    background-size: 140px; 
    background-position: center; 
} 
.trav-sig.beat .trav-img .trav-repro { 
    background: rgba(90, 118, 154, 0.3); 
} 
.trav-sig.beat .trav-tit { 
    width: 210px; text-align: center; 
    color: #5a769a;
} 
.trav-sig.beat .trav-txt { 
    font-family: calibri;
    font-size: 10px;
    color:white;
    background: #000000ab;
}
