.author-52 .postprofile a strong:after {
    content: 'Beathan';
    background: #000;
    position: relative;
    left: -94px;
}
.author-52 .postprofile-avatar img {
    content: url(https://i.imgur.com/SFLF7HN.png);
}
.author-52 .author a span strong::after{
    content: 'Beathan';
    position: relative;
    left: -54px;
    background: #0a0a0a;
    margin-left: -45px;
}
.author-52 .topictitle-image img {
    content: url(http://sig.grumpybumpers.com/host/beaticon.gif);
}
.author-52 .postprofile-field.postprofile-field-edad .postprofile-field-content { 
    visibility: hidden;
} 
.author-52 .postprofile-rank:before { 
    content: 'drama boy';
    position: relative;
    background: #0a0a0a;
    width: 150px;
    left: 49px;
    display: inline-block;
    text-align: left;
} 
.author-52 .postprofile-field.postprofile-field-edad .postprofile-field-content:after { 
    content: '17 años'; 
    visibility: visible; 
    position: relative; 
    left: -19px; 
}
.trav-sig.beat {
    display: flex;
    justify-content: center;
    align-items: center;
}
.trav-sig.beat .trav-img { 
    background: url(http://sig.grumpybumpers.com/host/beathan.gif);
    box-shadow: 0 0 0 3px #141414, 0 0 0 5px #5a769a;
    background-size: 140px;
    background-position: center;
    width: 130px;
    height: 130px;
    border-radius: 100%;
} 
.trav-sig.beat .trav-img .trav-repro { 
    background: rgba(90, 118, 154, 0.3);
    height: 130px;
    width: 130px;
    border-radius: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .5s;
}
.trav-sig.beat:hover .trav-img .trav-repro {
    opacity: 1;
}
.trav-sig.beat iframe{
    width:15px; 
    height: 17px;
    overflow: hidden;
}
gg {
    width: 210px;
    margin-left: 10px;
}
.trav-sig.beat .trav-tit { 
    text-align: center;
    color: #5a769a;
    font-family: 'Good Things';
    font-size: 19px;
    width: 180px;
    margin: 0 auto 6px;
} 
.trav-sig.beat .trav-txt { 
    font-family: calibri;
    font-size: 10px;
    color: white;
    background: #000000ab;
    margin: auto;
    padding: 5px;
    line-height: 12px;
}
