.firmabs {margin:auto;width:190px;height:140px;background-image: url(http://sig.grumpybumpers.com/host/bsfirma.gif);background-size: cover;padding:20px;outline: 1px solid #fff;border: 10px solid #8799a4;outline-offset: -10px;}
.firmabs .texto {color: #fff;font-family: 'Sacramento', cursive;font-size: 20px;line-height: 284px;text-align: right;text-shadow: 1px -1px 0px #2E2831;}
.firmabs2 {width:300px;height:200px;margin:2px auto;background:url('http://s1.postimg.org/5yvkzoddbj/bethany_firma2.png');outline:2px solid #8799a4;border:4px solid #141414;}
.firmabs2 .texto {width:44px;height:50px;padding:7px 9px 5px;position:relative;background:rgba(23, 23, 23, 0.4);top:119px;left:218px;font-weight:bold;color:white;border:1px solid;font-size:10px;text-align:justify;letter-spacing: 1.5px;}
.firmabs2 .int {display:block; font-style:italic;font-family:raleway;font-size:14px;margin-left:16px;}
.firmabs + .pics {
    width: 200px;
    margin: 7px auto -4px auto;
    text-align: center;
    letter-spacing: 2px;
}
.firmabs + .pics a:nth-child(2) {
    color: #729db7;
    letter-spacing: -1px;
}
.firmabs + .pics a:nth-child(3) {
    color: #8072b7;
    letter-spacing: -2px;
}
.firmabs + .pics a:nth-child(4) {
    color: #9a4f4f
}

.status {margin:25px auto;width:170px;border:1px solid #394341;outline:20px solid #141414;padding:20px;background:#141414; }
.status.tema {display:block; padding:20px;outline-color: #000000a6; background-color: #000000a6;}
.status.bs {border-color: #8799a4;}
.status.ks {border-color: #ae70eb;}
.status .tit {font-size:14px;font-family:raleway;text-align:center;color:#fff}
.status .sub {font-size: 13px;color: #fff;text-align: center;}
.status .stats {width: auto;margin: 7px auto 0 auto;text-align: left;font-size: 9px;letter-spacing: 1.5px;color:#c3c3c3;}
.status .stat {width: 81px;display: inline-block;word-spacing: -2px;}
.status .stats i {font-size: 9px;font-style: normal;color: white;}
.status .stats span {color:#394341;font-size: 12px;margin: 0 0 0 2px;}
.status .stats span + span {color: grey !important; margin: 0;}
.status.bs .stats span {color: #8799a4;}
.status.ks .stats span {color: #ae70eb;}
.status .stats span:first-child {display: inline-block;}

.status.tema.vs {width: 400px; }
.status.tema.vs .pj, .status.tema.vs .monst {width: 170px !important; display: inline-block;} 
.status.vs .monst {margin: -15px auto auto 60px; vertical-align: top; width: 170px;} 
.status.vs .monst:before { content: 'vs'; position: relative; left: -44px; top: 75px; font-family: raleway; letter-spacing: 3px; font-size: 19px; font-style: italic; }
.vs .monst .stat {width: auto; min-width: 70px; max-width: 82px;}
.status .df222 {width: auto; height: auto;margin: 8px auto auto 0px;}
.status.tema.vs .extra {margin:0px; color:#de6e6e; cursor: pointer;} .status.tema.vs .df222 .extra {font-size:8px;}
.tema.vs .desg { margin-top: -133px; background: #111111; position: relative; height: 133px; columns: 100px 2; overflow: auto; opacity: 0; -webkit-transition: all .9s ease; transition: all .9s ease; -moz-transition: all .9s ease; -o-transition: all .9s ease;} 
.status.vs strong {color: grey;}
.status.tema.vs.bs .extra {margin:0px; color:#de6e6e; cursor: pointer;} .status.tema.vs.bs .df222 .extra {font-size:8px;}

.bf1.atrib.beth {outline-color: #8799a4; } 
.bf1.atrib.beth .fichita .stats span {color: #8799a4; } 
.atrib {margin:auto;} 
.atrib .icon {width:100px;height:100px;background-size:100px;float: left;border-radius:100%;border:3px solid #394341; margin-right: 5px;} 
.atrib .fichita {margin-top: 8px;} 
.atrib .fichita .tit {font-size:14px;font-family:raleway;text-align:center;text-transform: uppercase;color:#fff} 
.atrib .fichita .subtit {font-size: 12px;color: #fff;text-align: center;letter-spacing: 1px;} .atrib .fichita .stats {margin: 8px auto 0 auto;letter-spacing: 2px; text-align: left;} .atrib .fichita .stat {width: 85px;display: inline-block;} 
.atrib .fichita .stats u { text-decoration: none; padding: 0 4px 1px; margin: 1px 0; display: inline-block; font-weight: normal; font-size: 9px; letter-spacing: 1px; } 
.atrib .fichita .stats span {color:#394341;font-size: 13px;} 
.atrib .inv {width: auto; display: flex; flex-wrap: wrap; height: auto; max-height: 84px; margin: 20px auto auto; overflow: auto;}
.atrib .df222 {height: 8px;margin: 0 0 2px 0;flex: 1 0 auto;}
