.merodeatontos {
  margin:auto;
  width:266px;
  height:172px;
  text-align:center;
  padding:10px;
}

.ki .mt1 {
    vertical-align: top;
    display: inline-block;
    width: 50px;
    height: 170px;
    border: 1px solid #000;
}
.ki .mt2 {
  vertical-align: top;
  display: inline-block;
  width:120px;
  height:170px;
  border:1px solid #000;
}
.ki .mtc {
    background: #000;
    width: 70px;
    height: 130px;
    padding: 20px 10px;
    border: 1px solid #000;
    vertical-align: top;
    display: inline-block;
    color: #ccccccbd;
    font-size: 5.3px;
    text-transform: uppercase;
    font-family: verdana;
    letter-spacing: 1px;
    line-height: 10px;
}
.ki .mticon {
    font-size: 29px;
    display: block;
    text-align: center;
    margin: 12px 0;
}
